*
!Dockerfile
!index.html
!robots.txt
!nginx/
!nginx/default.conf
!css/
!css/main.css
!js/
!js/main.js
!img/
!img/optimized/
!img/optimized/**
!img/social/
!img/social/**
!img/background_window.jpg
!img/velvet.svg
!img/favicon.svg
